--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
ultralytics
sahi
joblib
opencv-python-headless
scikit-image
numpy
matplotlib
fastapi
uvicorn
python-multipart
scikit-learn==1.6.1


## these are only for dashboard
# streamlit
# requests
# pandas
# plotly